extends layout

block content
    h1!= name

    #info
        p= 'Ticker: ' + ticker
        p= 'Region: ' + region
        p Leagues: 
            ul
                each league in leagues
                    li= league
        
        