extends ../layout

block content
    h1 Players

    #info
        for team in teams
            h2= team
            
            ul
                for player in team
                    li= player.handle + ' (' + player.position + ')'
